@charset "UTF-8"; /* 인코딩으로 인해 발생할 수 있는 문자 깨짐 방지 */
*{margin: 0px;
  padding: 0px;}
html,body{font-family: "Malgun Gothic", sans-serif,serif;
          font-size: 14px;}
body{width: 600px;
     margin: 0px auto; /* 가운데 정렬 - 부모쪽에 설정 */}
a{text-decoration: none; color: black;
  position: relative;}
li{list-style: none;}
img{margin: 0px; padding: 0px; border: 0px;}
a:hover{text-decoration: underline; color: black;}
